body{
  display: block;
  margin: 0 auto;
  width: 960px;
  background-color:#5D83C5;
}
.scoreboard {
  margin: 0 auto;
  margin-top: 10px;
  background-color:#7CB8FF;
  color:black;
  padding: 5px 5px 5px 5px;
  box-shadow: 1px 1px 1px 1px;
}
.playground {
  margin-top: 20px;
  background-color:#ABD1FF;
  width: 960px;
  height: 500px;
  box-shadow: 1px 1px 1px 1px;
}

svg {
  width: 960px;
  height: 500px;
}


